In [1]:
# Importing Packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [2]:
data = pd.read_csv('D:/Data Science/Python/Imarticus_Project/Project 6/New folder/26_Project 6- Network Intrusion Detection using Decision Tree in Python/German_Credit_data.csv')

In [3]:
data.head()

,Creditability,Status_of_existing_account,Duration_of_Credit_month,Payment_Status_of_Previous_Credit(Credit_history),Purpose_of_loan,Credit_Amount,Value_of_Savings_account&bonds,Years_of_Present_Employment,Percentage_of_disposable_income,Sex_&_Marital_Status,...,Duration_in_Present_Residence,Property,Age_in_years,Concurrent_Credits,Housing,No_of_Credits_at_this__Bank,Occupation,No_of_dependents,Telephone,Foreign_Worker
0,1,1,18,4,2,1049,1,2,4,2,...,4,2,21,3,1,1,3,1,1,1
1,1,1,9,4,0,2799,1,3,2,3,...,2,1,36,3,1,2,3,2,1,1
2,1,2,12,2,9,841,2,4,2,2,...,4,1,23,3,1,1,2,1,1,1
3,1,1,12,4,0,2122,1,3,3,3,...,2,1,39,3,1,2,2,2,1,2
4,1,1,12,4,0,2171,1,3,4,3,...,4,2,38,1,2,2,2,1,1,2

In [4]:
data.shape

(1000, 21)

In [5]:
data.isnull().sum()

Creditability                                        0
Status_of_existing_account                           0
Duration_of_Credit_month                             0
Payment_Status_of_Previous_Credit(Credit_history)    0
Purpose_of_loan                                      0
Credit_Amount                                        0
Value_of_Savings_account&bonds                       0
Years_of_Present_Employment                          0
Percentage_of_disposable_income                      0
Sex_&_Marital_Status                                 0
Guarantors/Debtors                                   0
Duration_in_Present_Residence                        0
Property                                             0
Age_in_years                                         0
Concurrent_Credits                                   0
Housing                                              0
No_of_Credits_at_this__Bank                          0
Occupation                                           0
No_of_dependents                                     0
Telephone                                            0
Foreign_Worker                                       0
dtype: int64

In [6]:
X = data.drop("Creditability", axis=1)
Y = data["Creditability"]

In [7]:
X

,Status_of_existing_account,Duration_of_Credit_month,Payment_Status_of_Previous_Credit(Credit_history),Purpose_of_loan,Credit_Amount,Value_of_Savings_account&bonds,Years_of_Present_Employment,Percentage_of_disposable_income,Sex_&_Marital_Status,Guarantors/Debtors,Duration_in_Present_Residence,Property,Age_in_years,Concurrent_Credits,Housing,No_of_Credits_at_this__Bank,Occupation,No_of_dependents,Telephone,Foreign_Worker
0,1,18,4,2,1049,1,2,4,2,1,4,2,21,3,1,1,3,1,1,1
1,1,9,4,0,2799,1,3,2,3,1,2,1,36,3,1,2,3,2,1,1
2,2,12,2,9,841,2,4,2,2,1,4,1,23,3,1,1,2,1,1,1
3,1,12,4,0,2122,1,3,3,3,1,2,1,39,3,1,2,2,2,1,2
4,1,12,4,0,2171,1,3,4,3,1,4,2,38,1,2,2,2,1,1,2
5,1,10,4,0,2241,1,2,1,3,1,3,1,48,3,1,2,2,2,1,2
6,1,8,4,0,3398,1,4,1,3,1,4,1,39,3,2,2,2,1,1,2
7,1,6,4,0,1361,1,2,2,3,1,4,1,40,3,2,1,2,2,1,2
8,4,18,4,3,1098,1,1,4,2,1,4,3,65,3,2,2,1,1,1,1
9,2,24,2,3,3758,3,1,1,2,1,4,4,23,3,1,1,1,1,1,1
10,1,11,4,0,3905,1,3,2,3,1,2,1,36,3,1,2,3,2,1,1
11,1,30,4,1,6187,2,4,1,4,1,4,3,24,3,1,2,3,1,1,1
12,1,6,4,3,1957,1,4,1,2,1,4,3,31,3,2,1,3,1,1,1
13,2,48,3,10,7582,2,1,2,3,1,4,4,31,3,2,1,4,1,2,1
14,1,18,2,3,1936,5,4,2,4,1,4,3,23,3,1,2,2,1,1,1
15,1,6,2,3,2647,3,3,2,3,1,3,1,44,3,1,1,3,2,1,1
16,1,11,4,0,3939,1,3,1,3,1,2,1,40,3,2,2,2,2,1,1
17,2,18,2,3,3213,3,2,1,4,1,3,1,25,3,1,1,3,1,1,1
18,2,36,4,3,2337,1,5,4,3,1,4,1,36,3,2,1,3,1,1,1
19,4,11,4,0,7228,1,3,1,3,1,4,2,39,3,2,2,2,1,1,1
20,1,6,4,0,3676,1,3,1,3,1,3,1,37,3,1,3,3,2,1,1
21,2,12,4,0,3124,1,2,1,3,1,3,1,49,1,2,2,2,2,1,1
22,2,36,2,5,2384,1,2,4,3,1,1,4,33,3,1,1,2,1,1,1
23,2,12,4,4,1424,1,4,4,3,1,3,2,26,3,2,1,3,1,1,1
24,1,6,4,0,4716,5,2,1,3,1,3,1,44,3,2,2,2,2,1,1
25,2,11,3,3,4771,1,4,2,3,1,4,2,51,3,2,1,3,1,1,1
26,1,12,2,2,652,1,5,4,2,1,4,2,24,3,1,1,3,1,1,1
27,2,9,4,3,1154,1,5,2,3,1,4,1,37,3,2,3,2,1,1,1
28,4,15,2,0,3556,5,3,3,3,1,2,4,29,3,2,1,3,1,1,1
29,3,42,4,1,4796,1,5,4,3,1,4,4,56,3,3,1,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,4,48,2,9,4844,1,1,3,3,1,2,3,33,3,1,1,4,1,2,1
971,2,27,0,9,8318,1,5,2,2,1,4,4,42,2,3,2,4,1,2,1
972,3,18,2,3,2100,1,3,4,3,2,2,1,37,3,2,1,3,1,1,1
973,1,45,0,9,11816,1,5,2,3,1,4,3,29,3,1,2,3,1,1,1
974,1,6,2,6,448,1,2,4,2,1,4,2,23,3,2,1,3,1,1,1
975,1,30,2,5,11998,1,2,1,1,1,1,4,34,1,2,1,2,1,2,1
976,2,48,0,10,18424,1,3,1,2,1,2,2,32,1,2,1,4,1,2,2
977,1,6,2,0,14896,1,5,1,3,1,4,4,68,1,2,1,4,1,2,1
978,2,12,2,2,2762,5,5,1,2,1,2,2,25,3,2,1,3,1,2,1
979,1,12,2,1,3386,1,5,3,3,1,4,4,35,3,3,1,3,1,2,1
980,2,24,2,3,2039,1,2,1,4,1,1,2,22,3,2,1,3,1,2,1
981,4,18,3,9,2169,1,3,4,4,1,2,3,28,3,2,1,3,1,2,1
982,2,48,4,2,5096,1,3,2,2,1,3,3,30,3,2,1,4,1,2,1
983,1,18,2,3,1882,1,3,4,2,1,4,3,25,1,1,2,3,1,1,1
984,1,48,2,3,6999,1,4,1,4,3,1,1,34,3,2,2,3,1,2,1
985,4,12,4,9,2292,1,1,4,3,1,2,3,42,2,2,2,4,1,2,1
986,1,14,2,0,8978,1,5,1,1,1,4,2,45,3,2,1,4,1,2,2
987,1,12,2,3,674,2,4,4,4,1,1,2,20,3,2,1,3,1,1,1
988,1,18,2,0,976,1,2,1,2,1,2,3,23,3,2,1,2,1,1,1
989,2,24,2,0,2718,1,3,3,2,1,4,2,20,3,1,1,2,1,2,1
990,1,18,2,6,750,1,1,4,2,1,1,1,27,3,2,1,1,1,1,1
991,2,24,2,1,12579,1,5,4,2,1,2,4,44,3,3,1,4,1,2,1
992,1,18,2,1,7511,5,5,1,3,1,4,2,51,3,3,1,3,2,2,1
993,1,18,4,0,3966,1,5,1,2,1,4,1,33,1,1,3,3,1,2,1
994,1,12,0,3,6199,1,3,4,3,1,2,2,28,3,1,2,3,1,2,1
995,1,24,2,3,1987,1,3,2,3,1,4,1,21,3,1,1,2,2,1,1
996,1,24,2,0,2303,1,5,4,3,2,1,1,45,3,2,1,3,1,1,1
997,4,21,4,0,12680,5,5,4,3,1,4,4,30,3,3,1,4,1,2,1
998,2,12,2,3,6468,5,1,2,3,1,1,4,52,3,2,1,4,1,2,1
999,1,30,2,2,6350,5,5,4,3,1,4,2,31,3,2,1,3,1,1,1

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [10]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [11]:
X_train

array([[ 1.14276934,  1.23662853, -0.54268053, ..., -0.43643578,
        -0.83706647, -0.20764257],
       [-0.44588127, -0.64282893,  1.32863165, ..., -0.43643578,
        -0.83706647, -0.20764257],
       [-1.24020657, -0.72454447, -0.54268053, ...,  2.29128785,
        -0.83706647, -0.20764257],
       ...,
       [-1.24020657, -0.72454447, -0.54268053, ..., -0.43643578,
        -0.83706647, -0.20764257],
       [-0.44588127, -0.56111338, -0.54268053, ..., -0.43643578,
         1.19464826, -0.20764257],
       [-1.24020657, -0.72454447, -0.54268053, ..., -0.43643578,
        -0.83706647, -0.20764257]])

# SVM Algorithm

In [12]:
from sklearn.svm import SVC
classifier=SVC(kernel='linear',random_state=0)
classifier.fit(X_train,Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=0,
    shrinking=True, tol=0.001, verbose=False)

In [13]:
Y_pred=classifier.predict(X_test)

In [14]:
Y_pred

array([1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1,
       1, 1, 0, 1, 0, 1, 1, 1], dtype=int64)

In [15]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,Y_pred)
cm

array([[ 37,  46],
       [ 13, 154]], dtype=int64)

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)

0.764

# Random Forest Algorithm

In [17]:
    X = data.drop("Creditability", axis=1)
    Y = data["Creditability"]

In [18]:
X

,Status_of_existing_account,Duration_of_Credit_month,Payment_Status_of_Previous_Credit(Credit_history),Purpose_of_loan,Credit_Amount,Value_of_Savings_account&bonds,Years_of_Present_Employment,Percentage_of_disposable_income,Sex_&_Marital_Status,Guarantors/Debtors,Duration_in_Present_Residence,Property,Age_in_years,Concurrent_Credits,Housing,No_of_Credits_at_this__Bank,Occupation,No_of_dependents,Telephone,Foreign_Worker
0,1,18,4,2,1049,1,2,4,2,1,4,2,21,3,1,1,3,1,1,1
1,1,9,4,0,2799,1,3,2,3,1,2,1,36,3,1,2,3,2,1,1
2,2,12,2,9,841,2,4,2,2,1,4,1,23,3,1,1,2,1,1,1
3,1,12,4,0,2122,1,3,3,3,1,2,1,39,3,1,2,2,2,1,2
4,1,12,4,0,2171,1,3,4,3,1,4,2,38,1,2,2,2,1,1,2
5,1,10,4,0,2241,1,2,1,3,1,3,1,48,3,1,2,2,2,1,2
6,1,8,4,0,3398,1,4,1,3,1,4,1,39,3,2,2,2,1,1,2
7,1,6,4,0,1361,1,2,2,3,1,4,1,40,3,2,1,2,2,1,2
8,4,18,4,3,1098,1,1,4,2,1,4,3,65,3,2,2,1,1,1,1
9,2,24,2,3,3758,3,1,1,2,1,4,4,23,3,1,1,1,1,1,1
10,1,11,4,0,3905,1,3,2,3,1,2,1,36,3,1,2,3,2,1,1
11,1,30,4,1,6187,2,4,1,4,1,4,3,24,3,1,2,3,1,1,1
12,1,6,4,3,1957,1,4,1,2,1,4,3,31,3,2,1,3,1,1,1
13,2,48,3,10,7582,2,1,2,3,1,4,4,31,3,2,1,4,1,2,1
14,1,18,2,3,1936,5,4,2,4,1,4,3,23,3,1,2,2,1,1,1
15,1,6,2,3,2647,3,3,2,3,1,3,1,44,3,1,1,3,2,1,1
16,1,11,4,0,3939,1,3,1,3,1,2,1,40,3,2,2,2,2,1,1
17,2,18,2,3,3213,3,2,1,4,1,3,1,25,3,1,1,3,1,1,1
18,2,36,4,3,2337,1,5,4,3,1,4,1,36,3,2,1,3,1,1,1
19,4,11,4,0,7228,1,3,1,3,1,4,2,39,3,2,2,2,1,1,1
20,1,6,4,0,3676,1,3,1,3,1,3,1,37,3,1,3,3,2,1,1
21,2,12,4,0,3124,1,2,1,3,1,3,1,49,1,2,2,2,2,1,1
22,2,36,2,5,2384,1,2,4,3,1,1,4,33,3,1,1,2,1,1,1
23,2,12,4,4,1424,1,4,4,3,1,3,2,26,3,2,1,3,1,1,1
24,1,6,4,0,4716,5,2,1,3,1,3,1,44,3,2,2,2,2,1,1
25,2,11,3,3,4771,1,4,2,3,1,4,2,51,3,2,1,3,1,1,1
26,1,12,2,2,652,1,5,4,2,1,4,2,24,3,1,1,3,1,1,1
27,2,9,4,3,1154,1,5,2,3,1,4,1,37,3,2,3,2,1,1,1
28,4,15,2,0,3556,5,3,3,3,1,2,4,29,3,2,1,3,1,1,1
29,3,42,4,1,4796,1,5,4,3,1,4,4,56,3,3,1,3,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,4,48,2,9,4844,1,1,3,3,1,2,3,33,3,1,1,4,1,2,1
971,2,27,0,9,8318,1,5,2,2,1,4,4,42,2,3,2,4,1,2,1
972,3,18,2,3,2100,1,3,4,3,2,2,1,37,3,2,1,3,1,1,1
973,1,45,0,9,11816,1,5,2,3,1,4,3,29,3,1,2,3,1,1,1
974,1,6,2,6,448,1,2,4,2,1,4,2,23,3,2,1,3,1,1,1
975,1,30,2,5,11998,1,2,1,1,1,1,4,34,1,2,1,2,1,2,1
976,2,48,0,10,18424,1,3,1,2,1,2,2,32,1,2,1,4,1,2,2
977,1,6,2,0,14896,1,5,1,3,1,4,4,68,1,2,1,4,1,2,1
978,2,12,2,2,2762,5,5,1,2,1,2,2,25,3,2,1,3,1,2,1
979,1,12,2,1,3386,1,5,3,3,1,4,4,35,3,3,1,3,1,2,1
980,2,24,2,3,2039,1,2,1,4,1,1,2,22,3,2,1,3,1,2,1
981,4,18,3,9,2169,1,3,4,4,1,2,3,28,3,2,1,3,1,2,1
982,2,48,4,2,5096,1,3,2,2,1,3,3,30,3,2,1,4,1,2,1
983,1,18,2,3,1882,1,3,4,2,1,4,3,25,1,1,2,3,1,1,1
984,1,48,2,3,6999,1,4,1,4,3,1,1,34,3,2,2,3,1,2,1
985,4,12,4,9,2292,1,1,4,3,1,2,3,42,2,2,2,4,1,2,1
986,1,14,2,0,8978,1,5,1,1,1,4,2,45,3,2,1,4,1,2,2
987,1,12,2,3,674,2,4,4,4,1,1,2,20,3,2,1,3,1,1,1
988,1,18,2,0,976,1,2,1,2,1,2,3,23,3,2,1,2,1,1,1
989,2,24,2,0,2718,1,3,3,2,1,4,2,20,3,1,1,2,1,2,1
990,1,18,2,6,750,1,1,4,2,1,1,1,27,3,2,1,1,1,1,1
991,2,24,2,1,12579,1,5,4,2,1,2,4,44,3,3,1,4,1,2,1
992,1,18,2,1,7511,5,5,1,3,1,4,2,51,3,3,1,3,2,2,1
993,1,18,4,0,3966,1,5,1,2,1,4,1,33,1,1,3,3,1,2,1
994,1,12,0,3,6199,1,3,4,3,1,2,2,28,3,1,2,3,1,2,1
995,1,24,2,3,1987,1,3,2,3,1,4,1,21,3,1,1,2,2,1,1
996,1,24,2,0,2303,1,5,4,3,2,1,1,45,3,2,1,3,1,1,1
997,4,21,4,0,12680,5,5,4,3,1,4,4,30,3,3,1,4,1,2,1
998,2,12,2,3,6468,5,1,2,3,1,1,4,52,3,2,1,4,1,2,1
999,1,30,2,2,6350,5,5,4,3,1,4,2,31,3,2,1,3,1,1,1

In [19]:
from sklearn.model_selection import train_test_split

In [20]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [21]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [22]:
X_train

array([[ 1.14276934,  1.23662853, -0.54268053, ..., -0.43643578,
        -0.83706647, -0.20764257],
       [-0.44588127, -0.64282893,  1.32863165, ..., -0.43643578,
        -0.83706647, -0.20764257],
       [-1.24020657, -0.72454447, -0.54268053, ...,  2.29128785,
        -0.83706647, -0.20764257],
       ...,
       [-1.24020657, -0.72454447, -0.54268053, ..., -0.43643578,
        -0.83706647, -0.20764257],
       [-0.44588127, -0.56111338, -0.54268053, ..., -0.43643578,
         1.19464826, -0.20764257],
       [-1.24020657, -0.72454447, -0.54268053, ..., -0.43643578,
        -0.83706647, -0.20764257]])

In [23]:
from sklearn.ensemble import RandomForestClassifier
classifier=RandomForestClassifier(n_jobs=2,random_state=0)
classifier.fit(X_train,Y_train)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\ensemble\forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=None, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=2,
                       oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [24]:
Y_pred=classifier.predict(X_test)

In [25]:
Y_pred

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1,
       1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1,
       1, 1, 0, 1, 0, 0, 1, 0], dtype=int64)

In [26]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,Y_pred)
cm

array([[ 46,  37],
       [ 29, 138]], dtype=int64)

In [27]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)

0.736

# Logistic Regression

In [28]:
X = data.drop("Creditability", axis=1)
Y = data["Creditability"]

In [29]:
from sklearn.model_selection import train_test_split

In [30]:
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.25,random_state=0)

In [31]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
X_train=sc.fit_transform(X_train)
X_test=sc.transform(X_test)

In [32]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression()
classifier.fit(X_train,Y_train)

C:\Users\Admin\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [33]:
Y_pred=classifier.predict(X_test)

In [34]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(Y_test,Y_pred)
cm

array([[ 38,  45],
       [ 12, 155]], dtype=int64)

In [36]:
from sklearn.metrics import accuracy_score
accuracy_score(Y_test,Y_pred)*100

77.2